{
  "parser": "babel-eslint", // uses babel-eslint transforms
    "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "node": true, // defines things like process.env when generating through node
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended",
    "airbnb"
  ]
}
