{% extends 'common/base.html' %}
{% block title %}{{ site_title }}{% endblock %}


{% load staticfiles %}
{% block stylesheet %}
  <link href="{% static 'crows/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <section class="jumbotron" id="home-page-1">
      <div class="row">
        <div class="col-md-4 col-md-offset-7 col-sm-6 col-sm-offset-5 col-xs-12">
          <img src="{% static 'picture/title-only.png' %}" class="img-responsive" id="title-img">

          <div class="btn-group btn-group-justified" role="group" aria-label="category">
            <a class="btn btn-default btn-raised btn-category" role="button"
               href="{% url 'blog:category' 'anime' %}">动画</a>
            <a class="btn btn-default btn-raised btn-category" role="button"
               href="{% url 'blog:category' 'games' %}">游戏</a>
            <a class="btn btn-default btn-raised btn-category" role="button"
               href="{% url 'blog:category' 'progr' %}">编程</a>
            <a class="btn btn-default btn-raised btn-category" role="button"
               href="{% url 'blog:category' 'gossip' %}">闲语</a>
          </div>
        </div>
      </div>
    </section>

    <section id="home-page-2" class="crows-card crows-card-light shadow-z-1">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{% static 'picture/avatar.png' %}"
               class="img-responsive center-block crows-avatar shadow-z-2">

          <!--h3 class="text-center">结夜野棠</h3-->

          <div class="text-center">
            <a href="https://plus.google.com/u/0/+%E7%BB%93%E5%A4%9C%E9%87%8E%E6%A3%A00/">
              <img src="{% static 'picture/social/social-google+.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="https://twitter.com/Phoecrow">
              <img src="{% static 'picture/social/social-twitter.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="https://github.com/CrowsT">
              <img src="{% static 'picture/social/social-github.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://weibo.com/julycrows/profile">
              <img src="{% static 'picture/social/social-weibo.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://steamcommunity.com/profiles/76561198037511308/">
              <img src="{% static 'picture/social/social-steam.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="https://instagram.com/twhphoenix/">
              <img src="{% static 'picture/social/social-instagram.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://tieba.baidu.com/home/main?id=737fbde1d2b9d2b0ccc47d0e">
              <img src="{% static 'picture/social/social-tieba.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <h2 class="text-center">关于</h2>
          <a name="about"></a>
          {% if article %}
            {% load blog_filter %}
            {{ article.text|markdown2html }}
          {% endif %}
        </div>
      </div>
      <!--div class="col-md-6 col-sm-12">
        <div class="panel panel-default crows-panel">
          <div class="panel-heading crows-panel-heading shadow-z-1">
            <h3 class="text-center">留言</h3>
          </div>
          <div class="panel-body crows-panel-body">
            <form class="form-horizontal" action="{% url 'contact:postmsg' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label class="col-md-2 control-label align-left" for="name">Name</label>

                <div class="col-md-5">
                  <input type="text" class="form-control" id="name"
                         placeholder="Enter your name" name="name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label align-left" for="email">Email</label>

                <div class="col-md-5">
                  <input type="email" class="form-control" id="email"
                         placeholder="Enter your email" name="email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 ali">
                  <button type="submit" class="btn btn-raised btn-submit">提交</button>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label" for="content">评论</label>

                <div class="col-md-10">
              <textarea class="form-control" rows="3" id="content" placeholder="评论"
                        maxlength="300" name="content" required="true"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div-->
    </section>
  </div>
  <p class="text-center">结夜野棠的个人网站</p>

{% endblock %}