{% extends 'common/base.html' %}
{% load staticfiles %}
{% load blog_filter %}

{% block title %}{{ site_title }}{% endblock %}

{% block stylesheet %}
  <link href="{% static 'crows/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="card black">
    <div class="card-content white-text">
      <span class="card-title">乌鸦的庭院</span>
      <p>结夜野棠的个人博客</p>
    </div>
  </div>
  <div class="row flow-list">
    {% for article in article_list %}
      <div class="flow-item col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <a class="card-title grey-text text-darken-3" href="{% url 'blog:article' article.id %}"><h4>{{ article.title }}</h4></a>
            <p class="right-align grey-text text-darken-3"><small>{{ article.publish_time|date:"Y-m-d" }}</small></p>
            <hr>
            <p>{{ article.text|markdown2html|truncatechars_html:300 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <p class="text-center">结夜野棠的个人网站</p>

{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>
{% endblock %}
{% block js-inline %}
  <script>
    $(document).ready(function () {
      $(".button-collapse").sideNav({edge: 'left'});
      $('.collapsible').collapsible();
    });

    $('.flow-list').masonry({
      itemSelector: '.flow-item'
    });
  </script>
{% endblock %}