header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

.main-page {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.leave-blank {
  height: 100px;
}

.leave-blank-narrow {
  height: 40px;
}

header .logo {
  padding: 32px 0px;
}

header li.logo:hover {
  background-color: white;
}

header .logo-img {
  width: 100%;
}
