@charset "utf-8";

.typo address, .typo caption, .typo cite, .typo code, .typo dfn, .typo em, .typo th, .typo var {
  font-style: normal;
  font-weight: 400;
}

/* 代码片断 */
.typo pre, .typo code, .typo pre tt {
  font-family: Consolas, "DejaVu Sans", 'Courier New', monospace;
}

/* 保证块/段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote {
  margin-bottom: 1.2rem
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo-h1 { font-size: 2.0rem; line-height:100%; margin: 1.0rem 0 0.80rem 0; }
.typo h2, .typo-h2 { font-size: 1.8rem; line-height:100%; margin: 0.9rem 0 0.72rem 0; }
.typo h3, .typo-h3 { font-size: 1.6rem; line-height:100%; margin: 0.8rem 0 0.64rem 0; }
.typo h4, .typo-h4 { font-size: 1.4rem; line-height:100%; margin: 0.7rem 0 0.56rem 0; }
.typo h5, .typo-h5 { font-size: 1.2rem; line-height:100%; margin: 0.6rem 0 0.48rem 0; }

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul, .typo-ul {
  list-style: disc;
}

.typo ol, .typo-ol {
  list-style: decimal;
}

.typo li ul, .typo-ul ul, .typo-ol ul {
  list-style: circle;
}

.typo-em, .typo em, legend, caption {
  color: #000;
  font-weight: inherit;
}

/* 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用 */
.typo-em {
  position: relative;
}

.typo-em:after {
  position: absolute;
  top: 0.65rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

/* Responsive images */
.typo img {
  max-width: 100%;
}
