.navbar.navbar {
    background-color: #0288D1;
}

.container .crows-card.crows-header,
.container-fluid .crows-card.well {
    background-color: #03A9F4;
    color: #ffffff;
}

.container .crows-card.crows-header .crows-header-primary,
.container-fluid .crows-card.crows-header .crows-header-primary {
    color: rgba(255, 255, 255, 0.84);
}

.container .crows-card.crows-header .crows-header-minor,
.container-fluid .crows-card.crows-header .crows-header-minor {
    color: #B3E5FC;
}

.crows-panel .crows-panel-heading,
.crows-panel .crows-panel-heading-text {
    background-color: #03A9F4;
    color: rgba(255, 255, 255, 0.84);
}

.crows-header .crows-tag.label.btn {
    background-color: transparent;
}

.crows-panel-info .crows-panel-heading {
    background: #8BC34A;
    color: rgba(255, 255, 255, 0.84);
}

.crows-panel-info .crows-panel-body {
    color: #727272;
}

