.navbar.navbar {
    background-color: #455A64;
}

.container .crows-card.crows-header,
.container-fluid .crows-card.crows-header {
    background-color: #607D8B;
    color: #ffffff;
}

.container .crows-card.crows-header .crows-header-primary,
.container-fluid .crows-card.crows-header .crows-header-primary {
    color: rgba(255, 255, 255, 0.84);
}

.container .crows-card.crows-header .crows-header-minor,
.container-fluid .crows-card.crows-header .crows-header-minor {
    color: #CFD8DC;
}

.crows-header .crows-tag.label.btn {
    background-color: transparent;
}

.crows-panel .crows-panel-heading,
.crows-panel .crows-panel-heading-text,
.crows-card .crows-card-text {
    background-color: #607D8B;
    color: rgba(255, 255, 255, 0.84);
}

.crows-panel-info .crows-panel-heading,
.btn-submit:not(.btn-link):not(.btn-flat) {
    background: #FFC107;
    color: rgba(255, 255, 255, 0.84);
}

.crows-panel-info .crows-panel-body {
    color: #727272;
}