.navbar.navbar {
    background-color: #E64A19;
}

.container .crows-card.crows-header,
.container-fluid .crows-card.crows-header {
    background-color: #FF5722;
    color: #ffffff;
}

.container .crows-card.crows-header .crows-header-primary,
.container-fluid .crows-card.crows-header .crows-header-primary {
    color: rgba(255, 255, 255, 0.84);
}

.container .crows-card.crows-header .crows-header-minor,
.container-fluid .crows-card.crows-header .crows-header-minor {
    color: #FFCCBC;
}

.crows-header .crows-tag.label.btn {
    background-color: transparent;
}

.crows-panel .crows-panel-heading,
.crows-panel .crows-panel-heading-text {
    background-color: #FF5722;
    color: rgba(255, 255, 255, 0.84);
}

.crows-panel-info .crows-panel-heading,
.btn-submit:not(.btn-link):not(.btn-flat),
.btn-submit:hover:not(.btn-link):not(.btn-flat) {
    background: #03A9F4;
    color: rgba(255, 255, 255, 0.84);
}

.crows-panel-info .crows-panel-body {
    color: #727272;
}