body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, "Microsoft YaHei", 微软雅黑, sans-serif;
    font-weight: 300;
}

.container .crows-card,
.container-fluid .crows-card {
    border-radius: 15px;
    padding: 30px;
}

a:hover {
    text-decoration: none
}

.crows-avatar {
    height: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
}

.social-icon {
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: inline;
    margin: 10px;
}

article img {
    width: 100%;
}

.crows-panel {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.crows-panel .crows-panel-heading {
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
}
