html {
  --color-bg: #fbf1c7;
  --color-bg0: #fbf1c7;
  --color-bg0Hard: #f9f5d7;
  --color-bg0Soft: #f2e5bc;
  --color-bg1: #ebdbb2;
  --color-bg2: #d5c4a1;
  --color-bg3: #bdae93;
  --color-bg4: #a89984;
  --color-fg: #3c3836;
  --color-fg0: #282828;
  --color-fg1: #3c3836;
  --color-fg2: #504945;
  --color-fg3: #665c54;
  --color-fg4: #7c6f64;
  --color-gray: #928374;
  --color-grayHard: #7c6f64;
  --color-red: #cc241d;
  --color-redHard: #9d0006;
  --color-green: #98971a;
  --color-greenHard: #79740e;
  --color-yellow: #d79921;
  --color-yellowHard: #b57614;
  --color-blue: #458588;
  --color-blueHard: #076678;
  --color-purple: #b16286;
  --color-purpleHard: #8f3f71;
  --color-aqua: #689d6a;
  --color-aquaHard: #427b58;
  --color-orange: #d65d0e;
  --color-orangeHard: #af3a03;
}
html[data-theme=dark] {
  --color-bg: #282828;
  --color-bg0: #282828;
  --color-bg0Hard: #1d2021;
  --color-bg0Soft: #32302f;
  --color-bg1: #3c3836;
  --color-bg2: #504945;
  --color-bg3: #665c54;
  --color-bg4: #7c6f64;
  --color-fg: #ebdbb2;
  --color-fg0: #fbf1c7;
  --color-fg1: #ebdbb2;
  --color-fg2: #d5c4a1;
  --color-fg3: #bdae93;
  --color-fg4: #a89984;
  --color-gray: #928374;
  --color-grayHard: #a89984;
  --color-red: #cc241d;
  --color-redHard: #fb4934;
  --color-green: #98971a;
  --color-greenHard: #b8bb26;
  --color-yellow: #d79921;
  --color-yellowHard: #fabd2f;
  --color-blue: #458588;
  --color-blueHard: #83a598;
  --color-purple: #b16286;
  --color-purpleHard: #d3869b;
  --color-aqua: #689d6a;
  --color-aquaHard: #8ec07c;
  --color-orange: #d65d0e;
  --color-orangeHard: #fe8019;
}
