"""
Private Django Settings

Secret or personal infomations should stroe in this file.
"""

# Secret info
SECRET_KEY = # Input Your Own Secret Key

# Personal info
DEBUG = True # When you deploy this project, Close it.
STATIC_ROOT = # The Path You Put your Static Files.