{% extends 'blog/base_blog.html' %}

{% block title %}乌鸦的庭院:{{ article.title }}{% endblock %}

{% block nav_var_left %}
  {% for category_item in category_list %}
    {% ifequal category_item.id article.category.id %}
      <li class="active"><a href="{% url 'blog:category' category_item.url_name %}">
        {{ category_item.category_name }}</a></li>
    {% else %}
      <li><a href="{% url 'blog:category' category_item.url_name %}">
        {{ category_item.category_name }}</a></li>
    {% endifequal %}
  {% endfor %}
{% endblock %}

{% block path_nav %}
  <ol class="breadcrumb visible-xs">
    <li><a href="{% url 'homepage:index' %}">Home</a></li>
    <li><a href="{% url 'blog:index' %}">Blog</a></li>
    <li><a href="{% url 'blog:category' article.category.url_name %}">{{ article.category.category_name }}</a></li>
  </ol>
{% endblock %}

{% block main_area %}
  <section class="well crows-card crows-header">
    <div>
      <h1 class="text-center crows-header-primary">{{ article.title }}</h1>
    </div>
    <div>
      {% if tags_list %}
        <ul class="list-inline">
          {% for tag in tags_list %}
            <li>
              <a class="label btn btn-xs btn-primary crows-tag"
                 href="{% url 'blog:tag' tag.id %}"># {{ tag.tag_name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <p class="text-right"><I>{{ article.publish_time | date:"Y-m-d" }}</I></p>
  </section>
  <article class="well crows-card">
    {% load blog_filter %}
    {{ article.text|markdown2html }}
  </article>
  {% block comment_display %}
    <div class="well crows-card">
      {% if comments_list %}
        <p>阅读{{ article.clicks }} 评论{{ comments_list.count }}</p>
        <ul class="media-list">
          {% for comment in comments_list %}
            {% if forloop.last %}
              <a name="lastcmt"></a>
            {% endif %}
            <li class="media">
              <div class="media-left">
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <a href="#post" class="comment"
                    id="{{ comment.floor }}">#{{ comment.floor }} {{ comment.name }}</a>
                  <small>{{ comment.timestamp | date:"Y-m-d H:i:s" }}</small>
                </h5>
                <p>{{ comment.content|markdown2html }}</p>
              </div>
            </li>
            <hr/>
          {% endfor %}
        </ul>
      {% else %}
        <p>阅读:{{ article.clicks }} 评论:0</p>
        <p>目前尚未有评论，欢迎发表意见</p>
      {% endif %}
    </div>
  {% endblock %}

  {% block comment_form %}
    <div class="well crows-card">
      <form class="form-horizontal" id="post-form" action="{% url 'blog:comment' article.id %}" method="post">
        {% csrf_token %}
        <a name="post"></a>
        <div class="form-group">
          <label class="col-md-1 control-label align-left" for="name">Name</label>

          <div class="col-md-5">
            <input type="text" class="form-control" id="name"
                   placeholder="(可选)留下你的昵称吧" name="name" value="{{ name_ph }}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-1 control-label align-left" for="email">Email</label>

          <div class="col-md-5">
            <input type="email" class="form-control" id="email"
                   placeholder="(可选)您的邮箱不会公开" name="email" value="{{ email_ph }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-1 col-md-offset-1 ali">
            <button type="submit" class="btn btn-default btn-raised btn-submit">提交</button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-1 control-label" for="content">评论</label>

          <div class="col-md-10">
        <textarea class="form-control" rows="3" id="content" placeholder="说点什么吧(点击楼层号或ID可回复，支持markdown格式)"
                  maxlength="300" name="content" required="true"></textarea>
          </div>
        </div>
      </form>
    </div>
  {% endblock %}
{% endblock %}

{% block footer %}
  <p class="text-center">结夜野棠的个人博客</p>
{% endblock %}

{% block addition %}
<script type="text/javascript" charset="utf-8">

  $(".comment").click(function () {
    var cmtId = $(this).attr('id');
    var msg = document.getElementById(cmtId).innerHTML;
    var text = document.getElementById("content");
    text.value = "    回复 " + msg + " 的评论\n";
    var formAction = "{% url 'blog:comment' article.id %}" + cmtId + '/';
    $('#post-form').attr('action', formAction);
    self.location.href="#post";
  });

</script>
{% endblock %}