{% extends 'blog/base_blog.html' %}

{% block title %}乌鸦的庭院:{{ article.title }}{% endblock %}

{% block main_area %}
<section>
  <div class="card grey darken-3">
    <div class="card-content white-text">
      <div class="card-title"><h4>{{ article.title }}</h4></div>
      <br>
      {% if tags_list %}
      {% for tag in tags_list %}
            <span class="chip grey darken-4">
              <a style="color: white;" href="{% url 'blog:tag' tag.id %}">#{{ tag.tag_name }}</a>
            </span>
      {% endfor %}
      {% endif %}
      <p class="right-align">{{ article.publish_time | date:"Y-m-d" }}</p>
    </div>
  </div>
</section>
<article class="card-panel white">
  {% load blog_filter %}
  {{ article.text|markdown2html }}
  {% if user.is_authenticated %}
  <p class="right-align">
    <small>
      <a href="{% url 'crows:article_edit' article_type='article' article_id=article.id %}">编辑
      </a></small>
  </p>
  {% endif %}
</article>
{% block comment_display %}
<ul class="collection z-depth-1">
  <li class="collection-item">
    {% if comments_list %}
    <p>阅读{{ article.clicks }} 评论{{ comments_list.count }}</p>
    {% else %}
    <p>阅读:{{ article.clicks }} 评论:0</p>
    <p>目前尚未有评论，欢迎发表意见</p>
    {% endif %}
  </li>
  {% for comment in comments_list %}
  {% if forloop.last %}
  <a name="lastcmt"></a>
  {% endif %}
  <li class="collection-item">
    <a href="#post" class="title"
       id="{{ comment.floor }}">#{{ comment.floor }} {{ comment.name }}</a>
    <small>{{ comment.timestamp | date:"Y-m-d H:i:s" }}</small>
    <p>{{ comment.content|markdown2html }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block comment_form %}
<div class="card-panel white">
  <div class="row">
    <div class="col s12">
      <p>发表评论</p>
    </div>
    <form class="col s12" id="post-form" action="{% url 'blog:comment' article.id %}" method="post">
      {% csrf_token %}
      <a name="post"></a>
      <div class="row">
        <div class="input-field col s12 m6">
          {{ post_comment_form.name.errors }}
          {{ post_comment_form.name }}
          <label for="{{ post_comment_form.name.id_for_label }}"
          >{{ post_comment_form.name.label }}</label>
        </div>
        <div class="input-field col s12 m6">
          {{ post_comment_form.email.errors }}
          {{ post_comment_form.email }}
          <label for="{{ post_comment_form.email.id_for_label }}"
          >{{ post_comment_form.email.label }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ post_comment_form.content.errors }}
          {{ post_comment_form.content }}
          <label for="{{ post_comment_form.content.id_for_label }}"
          >{{ post_comment_form.content.label }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 red-text">
          {{ post_comment_form.captcha.errors }}
        </div>
        <div id="captcha-img" class="col s6 m3 l2" style="margin-top: 15px;"></div>
        <div id="captcha-contect" class="input-field col s6 m3" style="margin-top: 3px;">
          <label for="{{ post_comment_form.content.id_for_label }}">{{ post_comment_form.captcha.label }}</label>
          {{ post_comment_form.captcha }}
        </div>
        <div id="post_form_submit" class="col s6 m3">
          <button class="waves-effect waves-light orange accent-3 btn"
                  id="post_comment" type="submit" style="margin: 15px;">提交
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">

  this_url = window.location.href;
  if (this_url.indexOf("article") == -1) {
    self.location.href = "#post";
  }

  //$(document).ready(function () {
  $("#captcha-img").html($("#captcha-image").detach());
  //});

  $(".comment").click(function () {
    var cmtId = $(this).attr('id');
    var msg = document.getElementById(cmtId).innerHTML;
    var text = document.getElementById("content");
    text.value = "    回复 " + msg + " 的评论\n";
    var formAction = "{% url 'blog:comment' article.id %}" + cmtId + '/';
    $('#post-form').attr('action', formAction);
    self.location.href = "#post";
  });

</script>
{% endblock %}
