{% extends 'blog/base_blog.html' %}

{% block title %}乌鸦的庭院:{{ article.title }}{% endblock %}

{% block nav_var_left %}
  {% for category_item in category_list %}
    {% ifequal category_item.id article.category.id %}
      <li class="active"><a href="{% url 'blog:category' category_item.url_name %}">
        {{ category_item.category_name }}</a></li>
    {% else %}
      <li><a href="{% url 'blog:category' category_item.url_name %}">
        {{ category_item.category_name }}</a></li>
    {% endifequal %}
  {% endfor %}
{% endblock %}

{% block path_nav %}
  <ol class="breadcrumb visible-xs">
    <li><a href="{% url 'homepage:index' %}">Home</a></li>
    <li><a href="{% url 'blog:index' %}">Blog</a></li>
    <li><a href="{% url 'blog:category' article.category.url_name %}">{{ article.category.category_name }}</a></li>
  </ol>
{% endblock %}

{% block main_area %}
  <section class="well crows-card crows-header">
    <div>
      <h1 class="text-center crows-header-primary">{{ article.title }}</h1>
    </div>
    <div>
      {% if tags_list %}
        <ul class="list-inline">
          {% for tag in tags_list %}
            <li>
              <a class="label btn btn-xs btn-primary crows-tag"
                 href="{% url 'blog:tag' tag.id %}"># {{ tag.tag_name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <p class="text-right"><I>{{ article.publish_time | date:"Y-m-d" }}</I></p>
  </section>
  <article class="well crows-card">
    {% load blog_filter %}
    {{ article.text|markdown2html }}
    {% if user.is_authenticated %}
      <p class="text-right">
        <small>
          <a href="{% url 'crows:article_edit' article_type='article' article_id=article.id %}">编辑
          </a></small>
      </p>
    {% endif %}
  </article>
  {% block comment_display %}
    <div class="well crows-card">
      {% if comments_list %}
        <p>阅读{{ article.clicks }} 评论{{ comments_list.count }}</p>
        <ul class="media-list">
          {% for comment in comments_list %}
            {% if forloop.last %}
              <a name="lastcmt"></a>
            {% endif %}
            <li class="media">
              <div class="media-left">
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <a href="#post" class="comment"
                     id="{{ comment.floor }}">#{{ comment.floor }} {{ comment.name }}</a>
                  <small>{{ comment.timestamp | date:"Y-m-d H:i:s" }}</small>
                </h5>
                <p>{{ comment.content|markdown2html }}</p>
              </div>
            </li>
            <hr/>
          {% endfor %}
        </ul>
      {% else %}
        <p>阅读:{{ article.clicks }} 评论:0</p>
        <p>目前尚未有评论，欢迎发表意见</p>
      {% endif %}
    </div>
  {% endblock %}

  {% block comment_form %}
    <div class="well crows-card">
      <form class="form-horizontal" id="post-form" action="{% url 'blog:comment' article.id %}" method="post">
        {% csrf_token %}
        <a name="post"></a>
        {% if post_comment_form.errors %}
          <div class="alert alert-error">
            <ul>
              {% for error in post_comment_form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="form-group">
          {{ post_comment_form.name.errors }}
          <label class="col-md-1 control-label" style="text-align: right"
                 for="{{ post_comment_form.name.id_for_label }}">
            {{ post_comment_form.name.label }}</label>
          <div class="col-md-5">
            {{ post_comment_form.name }}
          </div>
        </div>
        <div class="form-group">
          {{ post_comment_form.email.errors }}
          <label class="col-md-1 control-label" style="text-align: right"
                 for="{{ post_comment_form.email.id_for_label }}">
            {{ post_comment_form.email.label }}</label>
          <div class="col-md-5">
            {{ post_comment_form.email }}
          </div>
        </div>
        <div class="form-group">
          {{ post_comment_form.content.errors }}
          <label class="col-md-1 control-label" style="text-align: right"
                 for="{{ post_comment_form.content.id_for_label }}">
            {{ post_comment_form.content.label }}</label>
          <div class="col-md-10">
            {{ post_comment_form.content }}
          </div>
        </div>
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          {{ post_comment_form.captcha.errors }}
          <label class="control-label" for="{{ post_comment_form.captcha.id_for_label }}"
                 style="padding: 15px">
            {{ post_comment_form.captcha.label }}
          </label>
          {{ post_comment_form.captcha }}
          <button class="btn btn-default btn-raised btn-submit"
                  id="post_comment" type="submit" style="margin: 15px;">提交</button>
        </div>
      </form>
    </div>
    <p style="display: none;" id="this_url">{{ request.path }}</p>
  {% endblock %}
{% endblock %}

{% block footer %}
  <p class="text-center">结夜野棠的个人博客</p>
{% endblock %}

{% block addition %}
  <script type="text/javascript" charset="utf-8">

    this_url = window.location.href;
    if (this_url.indexOf("article") == -1) {
      self.location.href = "#post";
    }

    $(".comment").click(function () {
      var cmtId = $(this).attr('id');
      var msg = document.getElementById(cmtId).innerHTML;
      var text = document.getElementById("content");
      text.value = "    回复 " + msg + " 的评论\n";
      var formAction = "{% url 'blog:comment' article.id %}" + cmtId + '/';
      $('#post-form').attr('action', formAction);
      self.location.href = "#post";
    });

  </script>
{% endblock %}