<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block nav_bar %}
    <ul class="nav nav-tabs">
      <li role="presentation"><a href={% url 'home:index' %}>Home</a></li>
      {% for category in category_list %}
      <li role="presentation"><a href="{% url 'blog:category' category.id %}">{{ category.category_name }}</a></li>
      {% endfor %}
      <li class="navbar-right" role="presentation"><a href="{% url 'msgboard:index' %}"><small>留言板</small></a></li>
      <li class="navbar-right" role="presentation"><a href="{% url 'aboutme:index' %}"><small>关于</small></a></li>
    </ul>
    {% endblock %}
    {% block content %}{% endblock %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src={% static "blog/js/jquery.min.js" %}></script>
    <script src={% static "blog/js/bootstrap.min.js" %}></script>
  </body>
</html>