{% extends 'common/base.html' %}

{% load staticfiles %}
{% block stylesheet %}{% endblock %}

{% block content %}
    {% block path_nav %}
    {% endblock %}
    {% block top_banner %}
    {% endblock %}
    <div class="row">
      <div class="col s12 m12 l9">
        {% block main_area %}
        {% endblock %}
      </div>
      <div class="col s12 m12 l3">
        <div class="row">
          {% block sidebar_right %}
            {% if most_clicks_tags %}
              <section class="col s12 m6 l12">
                <div class="collection z-depth-1">
                  <p class="collection-item grey lighten-1 grey-text text-darken-3">标签</p>
                  {% for tag in most_clicks_tags %}
                  <a href="{% url 'blog:tag' tag.id %}"
                    class="collection-item grey-text text-darken-3">{{ tag.tag_name }} <small>{{ tag.clicks }}</small></a>
                  {% endfor %}
                </div>
              </section>
            {% endif %}
            {% if most_clicks_articles %}
              <section class="col s12 m6 l12">
                <div class="collection z-depth-1">
                  <p class="collection-item grey lighten-1 grey-text text-darken-3">最多点击</p>
                  {% for article in most_clicks_articles %}
                  <a href="{% url 'blog:article' article.id %}"
                    class="collection-item grey-text text-darken-3">{{ article.title }} <small>{{ article.clicks }}</small></a>
                  {% endfor %}
                </div>
              </section>
            {% endif %}
            {% if most_commented %}
            <section class="col s12 m6 l12">
              <div class="collection z-depth-1">
                <p class="collection-item grey lighten-1 grey-text text-darken-3">最多评论</p>
                {% for article in most_commented %}
                {% load blog_filter %}
                <a href="{% url 'blog:article' article.id %}"
                  class="collection-item grey-text text-darken-3">{{ article.title }} <small>{{ article | article_cmt_count }}</small></a>
                {% endfor %}
                </div>
              </section>
            {% endif %}
            {% block recent_update_area %}
              {% if recent_update %}
              <section class="col s12 m6 l12">
                <div class="collection z-depth-1">
                  <p class="collection-item grey lighten-1 grey-text text-darken-3">最近发表</p>
                  {% for article in recent_update %}
                  {% load blog_filter %}
                  <a href="{% url 'blog:article' article.id %}"
                    class="collection-item grey-text text-darken-3">{{ article.title }} <small>{{ article.publish_time | date:"Y-m-d" }}</small></a>
                  {% endfor %}
                </div>
              </section>
              {% endif %}
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% block addition %}
  {% endblock %}
{% endblock %}
