{% extends 'blog/base.html' %}

{% block title %}
  {% if category %}
    {{ category.category_name }}
  {% else %}
    Error
  {% endif %}
{% endblock %}

{% block content %}
  {% if category %}
    <h1>{{ category.category_name }}</h1>
    {% if recent_update %}
    <ul>最近发表：
    {% for article in recent_update %}
      <li><a href="{% url 'blog:article' article.id %}">{{ article.title }}({{ article.author }})</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>暂时还没有文章，敬请期待</p>
    {% endif %}
  {% else %}
    <h1>未找到相应的分类</h1>
  {% endif %}
{% endblock %}