{% extends 'common/base_navbar.html' %}

{% block title %}{{ category.category_name }}{% endblock %}

{% block nav_var_left %}
{% for category_item in category_list %}
  {% ifequal category_item.id category.id %}
  <li class="active"><a href="{% url 'blog:category' category_item.id %}">
    {{ category_item.category_name }}</a></li>
  {% else %}
  <li><a href="{% url 'blog:category' category_item.id %}">
    {{ category_item.category_name }}</a></li>
  {% endifequal %}
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">
  {% if category %}
    <h1>{{ category.category_name }}</h1>
    {% if recent_update %}
    <ul>最近发表：
    {% for article in recent_update %}
      <li><a href="{% url 'blog:article' article.id %}">{{ article.title }}({{ article.author }})</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>暂时还没有文章，敬请期待</p>
    {% endif %}
  {% else %}
    <h1>未找到相应的分类</h1>
  {% endif %}
</div>
{% endblock %}