{% extends 'blog/base_blog.html' %}

{% block title %}{{ category.category_name }}{% endblock %}

{% block nav_var_left %}
{% for category_item in category_list %}
  {% ifequal category_item.id category.id %}
  <li class="active"><a href="{% url 'blog:category' category_item.id %}">
    {{ category_item.category_name }}</a></li>
  {% else %}
  <li><a href="{% url 'blog:category' category_item.id %}">
    {{ category_item.category_name }}</a></li>
  {% endifequal %}
{% endfor %}
{% endblock %}

{% block top_banner %}
  <h1>乌鸦的居所</h1>
  <h2>{{ category.category_name }}</h2>
{% endblock %}

{% block main_area %}
  {% if category %}
    {% if recent_update %}
    <ul><h4>最近更新：</h4>
    {% for article in recent_update %}
      <li><a href="{% url 'blog:article' article.id %}">{{ article.title }}({{ article.author }})</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <h4>暂时还没有文章，敬请期待</h4>
    {% endif %}
  {% else %}
    <h1>未找到相应的分类</h1>
  {% endif %}
{% endblock %}

{% block sidebar_right %}
  <div class="panel panel-default pan">
    <div class="panel-heading">热门文章</div>
    <ul class="list-group">
      <li class="list-group-item">测试1</li>
      <li class="list-group-item">测试2</li>
    </ul>
  </div>
{% endblock %}

{% block footer %}
  <p class="text-center">结夜野棠的个人博客</p>
{% endblock %}