{% extends 'common/base_navbar.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- 显示预览 -->
      </div>
      <div class="col-md-6">
        <!-- 编辑窗口 -->
        <form>
          <input name="title" type="text" placeholder="Title?"/>
          <textarea name="content" data-provide="markdown" rows="10"></textarea>
          <label class="checkbox">
            <input name="publish" type="checkbox"> Publish
          </label>
          <hr/>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}