{% extends 'common/base.html' %}

{% load staticfiles %}
{% block title %}乌鸦的庭院:后院{% endblock %}

{% block content %}
  <!-- 编辑器 -->
  <form id="editor" method="post">
    {% csrf_token %}
    <div class="card-panel">
      <div class="row">
        <div class="input-field col s12">
          <label for="title">标题</label>
          <input type="text" class="validate" id="title" name="title" value="{{ article.title }}">
        </div>
      </div>
      <div class="input-field col s12">
        <select name="category" id="category">
          {% for category in categorise %}
            <option value="{{ category.url_name }}"
                    {% if category.url_name == the_category %}selected="selected" {% endif %}>{{ category.category_name }}</option>
          {% endfor %}
        </select>
        <label for="category">分类</label>
      </div>
      <div class="input-field col s12">
        <label for="tags">标签</label>
        <input type="text" class="validate" id="tags" name="tags" value="{{ tags }}">
      </div>
      <div class="input-field col s12">
        <label for="abstract">摘要</label>
        <textarea class="materialize-textarea" rows="5" id="abstract" style="resize: none"
                  name="abstract" required="true" data-provide="markdown">{{ article.abstract }}</textarea>
      </div>
      <div class="input-field col s12">
        <label for="content">正文</label>
        <textarea class="materialize-textarea" rows="20" id="content" style="resize: none"
                  name="content" required="true" data-provide="markdown">{{ article.text }}</textarea>
      </div>
    </div>
  </form>
  <div class="card-panel">
    <div class="center-align">
      <button id="preview" class="waves-effect waves-light btn">预览</button>
      <button id="save" class="waves-effect waves-light btn">保存</button>
      {% if type != 'article' %}
        <button id="publish" class="waves-effect waves-light btn">发布</button>
      {% endif %}
      {% if type != 'new' %}
        <button id="delete" class="waves-effect waves-light btn">删除</button>
      {% endif %}
    </div>
  </div>

  <div id="display" class="card-panel">
  </div>
{% endblock %}

{% block js-inline %}
  {% load staticfiles %}
  <script type="text/javascript">
    $(document).ready(function () {
      $(".button-collapse").sideNav({edge: 'left'});
      $('.collapsible').collapsible();
      $('select').material_select();
    });

    $("#preview").click(function () {
      $.post('{{ request.path }}', ($('#editor').serialize() + "&action=preview"),
          function (data) {
            $('#display').html(data);
            self.location.href = "#preview-end";
          });
    });

    $('#save').click(function () {
      $.post('{{ request.path }}', ($('#editor').serialize() + "&action=save"),
          function (data) {
            window.location.href = data;
          });
    });

    $('#publish').click(function () {
      $.post('{{ request.path }}', ($('#editor').serialize() + "&action=publish"),
          function (data) {
            window.location.href = data;
          });
    });

    $('#delete').click(function () {
      var sure = confirm("确定要删除吗");
      if (sure == true) {
        $.post('{{ request.path }}', ($('#editor').serialize() + "&action=delete"),
            function (data) {
              window.location.href = data;
            });
      }
    });
  </script>
{% endblock %}
