{% extends 'common/base.html' %}

{% load staticfiles %}

{% block content %}

<!-- 编辑器 -->

<div class="card-panel">
  <form id="editor" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s12">
        <label for="title">标题</label>
        <input type="text" class="validate" id="title" name="title" value="{{ article.title }}">
      </div>
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
      </div>
      <div class="input-field col s12">
        <label for="category">分类</label>
        <select name="category" id="category">
          {% for category in categorise %}
          <option value="{{ category.url_name }}" {% if category.url_name == the_category %}selected="selected" {% endif %}>{{ category.category_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-field col s12">
        <label for="tags">标签</label>
        <input type="text" class="validate" id="tags" name="tags" value="{{ tags }}">
      </div>
      <div class="input-field col s12">
        <label for="abstract">摘要</label>
        <textarea class="materialize-textarea" rows="5" id="abstract" style="resize: none"
                  name="abstract" required="true" data-provide="markdown">{{ article.abstract }}</textarea>
      </div>
      <div class="input-field col s12">
        <label for="content">正文</label>
        <textarea class="fmaterialize-textarea" rows="20" id="content" style="resize: none"
                  name="content" required="true" data-provide="markdown">{{ article.text }}</textarea>
      </div>
    </div>
  </form>
</div>
<div class="well crows-card">
  <div class="text-center">
    <button id="preview" class="btn btn-default btn-raised">预览</button>
    <button id="save" class="btn btn-default btn-raised">保存</button>
    {% if type != 'article' %}
    <button id="publish" class="btn btn-default btn-raised">发布</button>
    {% endif %}
    {% if type != 'new' %}
    <button id="delete" class="btn btn-warning btn-raised">删除</button>
    {% endif %}
  </div>
</div>
<div id="display">
</div>

{% endblock %}

{% block jsa %}
{% load staticfiles %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<script>

  $(document).ready(function () {
    $(".button-collapse").sideNav({edge: 'left'});
    $('.collapsible').collapsible();
    $('select').material_select();
  });

  var csrftoken = Cookies.get('csrftoken');

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $('#preview').click(function () {
    $.post('{{ request.path }}', ($('#editor').serialize() + "&action=preview"),
        function (data) {
          $('#display').html(data);
          self.location.href = "#preview-end";
        });
  });

  $('#save').click(function () {
    $.post('{{ request.path }}', ($('#editor').serialize() + "&action=save"),
        function (data) {
          window.location.href = data;
        });
  });

  $('#publish').click(function () {
    $.post('{{ request.path }}', ($('#editor').serialize() + "&action=publish"),
        function (data) {
          window.location.href = data;
        });
  });

  $('#delete').click(function () {
    var sure = confirm("确定要删除吗");
    if (sure == true) {
      $.post('{{ request.path }}', ($('#editor').serialize() + "&action=delete"),
          function (data) {
            window.location.href = data;
          });
    }
  });

</script>
{% endblock %}
