{% extends 'common/base.html' %}

{% block title %}乌鸦的庭院：后院{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col m8 offset-m2 s12">
      {% if next %}
      {% if user.is_authenticated %}
      <p>你无权访问此界面，你可以更换一个有权限的账户</p>
      {% else %}
      <p>请在此界面登陆</p>
      {% endif %}
      {% endif %}
      <section class="card light-blue">
        <div class="card-content center-align">
          <h3 class="crows-header-primary white-text text-center">登陆</h3>
        </div>
      </section>
      <section class="card-panel">
        <div class="row">
          <form class="col s12" id="login-form"
                action="{% url 'crows:login' %}" method="post">
            {% csrf_token %}
            <div class="col s12">
              <label for="username">用户名</label>
              <div class="col-md-10">
                <input type="text" class="validate" id="username"
                       placeholder="" name="username">
              </div>
            </div>
            <div class="col s12">
              <label for="password">密码</label>
              <div class="col-md-10">
                <input type="password" class="validate" id="password"
                       placeholder="" name="password">
              </div>
            </div>
            <div class="col s12">
              <div>
                <button type="submit" class="waves-effect waves-light btn">登录</button>
              </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
