{% extends 'common/base.html' %}

{% block title %}乌鸦的庭院：后院{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <section class="card">
    <div class="card-content">
      <p class="card-title">{{ user_name }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'crows:article_edit' article_type='new' article_id=0 %}">创建新文章</a>
      <a href="{% url 'crows:logout' %}">退出</a>
    </div>
  </section>
  <section class="card">
    <div class="card-content">
      <p class="card-title">保存的草稿</p>
      <ul class="collection">
        {% for draft in drafts %}
        <li class="collection-item">
          <a class="grey-text text-darken-3" href="{% url 'crows:article_edit' article_type='draft' article_id=draft.id %}">
            ({{ draft.category }}){{ draft.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="card">
    <div class="card-content">
      <p class="card-title">发表的文章</p>
      <ul class="collection">
        {% for article in articles %}
        <li class="collection-item">
          <a class="grey-text text-darken-3" href="{% url 'crows:article_edit' article_type='article' article_id=article.id %}">
          ({{ article.category }}){{ article.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
{% endblock %}
