{% extends 'common/base_navbar.html' %}
{% block title %}关于{% endblock %}

{% block nav_bar_right %}
<li class="active"><a href="{% url 'aboutme:index' %}">关于</a></li>
<li><a href="{% url 'msgboard:index' %}">留言板</a></li>
{% endblock %}

{% block content %}
  <div class="container">
    {% if article %}
    <div>
      <h1 class="text-center">{{ article.title }}</h1>
    </div>
    <div>
      {% load blog_filter %}
      {{ article.text|markdown2html }}
    </div>
    {% else %}
      <div>
        <h1>施工中。。。</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}