<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <!--Import Google Icon Font-->
  <link href="https://fonts.lug.ustc.edu.cn/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.lug.ustc.edu.cn/css?family=Roboto+Condensed:700,300' rel='stylesheet' type='text/css'>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/crows.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/typo.css' %}"/>
  {% block stylesheet %}
  {% endblock %}

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
</head>
<body class="grey lighten-3">
<header>
  <ul id="slide-out" class="side-nav fixed">
    <li class="logo">
      <a href="{% url 'homepage:index' %}" class="center-align" style="padding: 0px;">
        <span class="title first">CROWS</span><span class="title last">Courtyard</span>
      </a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="active">
          <a class="collapsible-header active waves-effect waves-teal">个人博客</a>
          <div class="collapsible-body" style="display: block;">
            <ul>
              {% for category_item in category_list %}
                {% ifequal category_item.url_name category_active %}
                  <li class="grey darken-1">
                    <a href="{% url 'blog:category' category_item.url_name %}"
                       class="white-text">{{ category_item.category_name }}</a>
                  </li>
                {% else %}
                  <li><a href="{% url 'blog:category' category_item.url_name %}"
                  >{{ category_item.category_name }}</a></li>
                {% endifequal %}
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li {% if nav_active == "about" %}class="grey darken-1"{% endif %}>
      <a {% if nav_active == "about" %}class="white-text"{% endif %} href="{% url 'blog:article' article_id=1 %}">关于</a>
    </li>
    <li {% if nav_active == "contact" %}class="grey darken-1"{% endif %}>
      <a {% if nav_active == "contact" %}class="white-text"{% endif %} href="{% url 'contact:index' %}">留言</a></li>
    <li {% if nav_active == "feed" %}class="grey darken-1"{% endif %}>
      <a {% if nav_active == "feed" %}class="white-text"{% endif %} href="{% url 'homepage:feed' %}">订阅</a></li>
    {% if nav_active == "courtyard" %}
      <li class="grey darken-1"><a class="white-text" href="{% url 'crows:index' %}">后院</a></li>
    {% endif %}
  </ul>
</header>
<main class="main-page">
  <div class="hide-on-large-only fixed-action-btn"
       style="top: 5px; left: 20px; width:0px; height: 0px;">
    <a href="#" data-activates="slide-out"
       class="button-collapse btn-floating btn-large waves-effect waves-light orange accent-3">
      <i class="mdi-navigation-menu"></i></a>
  </div>
  <div class="container">
    <div class="leave-blank hide-on-large-only"></div>
    <div class="leave-blank-narrow hide-on-med-and-down"></div>
    {% block content %}
    {% endblock %}
  </div>
</main>
<footer>
  {% block footer %}
  {% endblock %}
</footer>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
{% block js %}
{% endblock %}
{% block js-inline %}
  <script>
    $(document).ready(function () {
      $(".button-collapse").sideNav({edge: 'left'});
      $('.collapsible').collapsible();
    });
  </script>
{% endblock %}
</body>
</html>
