<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/crows.css"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <header>
    <ul id="slide-out" class="side-nav fixed">
      <li class="logo"><a href="#"><img class="logo-img"
        src="image/main-title.png"></a></li>
      <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold active"><a class="collapsible-header active waves-effect waves-teal">个人博客</a>
              <div class="collapsible-body" style="display: block;">
                <ul>
                  <li class="red"><a href="#" class="white-text">动画</a></li>
                  <li><a href="#">游戏</a></li>
                  <li><a href="#">编程</a></li>
                  <li><a href="#">闲语</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      <li><a href="#">关于|留言</a></li>
      <li><a href="#">RSS</a></li>
    </ul>
  </header>
  <main class="grey lighten-3 main-page">
    <div class="hide-on-large-only fixed-action-btn"
      style="top: 5px; left: 20px;">
        <a href="#" data-activates="slide-out"
          class="button-collapse btn-floating btn-large waves-effect waves-light red">
          <i class="mdi-navigation-menu"></i></a>
    </div>
  	<div class="container" style="height: 100%;">
      <div class="leave-blank hide-on-large-only"></div>
      <div class="leave-blank-narrow hide-on-med-and-down"></div>
			<div class="row">
        <section class="col s12">
          <div class="card light-blue">
            <div class="card-content white-text">
              <span class="card-title">乌鸦的庭院</span>
              <p>编程</p>
              <p class="right-align">Build your own world.</p>
            </div>
          </div>
        </section>
		    <section class="col s12 m12 l8">
		      <div class="card">
		        <div class="card-content">
		          <div class="card-title">建站记录 #6，部署网站：域名、空间、uWSGI和nginx</div>
		          <hr>
		          <p>此系列的文章是我搭建这个网站的简单记录。这篇文章的主要内容是建站的最后一步：部署。将网站部署到互联网上，就可以供人访问了。</p>
		        </div>
		      </div>
          <div class="card">
            <div class="card-content">
              <div class="card-title">建站记录 #5 : 自建评论系统</div>
              <hr>
              <p>此系列的文章是我搭建这个网站的简单记录。这篇文章主要讲自行搭建一个简单的评论系统。</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="card-title">建站记录 #4：网页样式：static file和Bootstrap</div>
              <hr>
              <p>此系列的文章是我搭建这个网站的简单记录。这篇主要讲Django的static管理方式，即如何管理和使用网页样式表、JS脚本和媒体文件。</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="card-title">建站记录 #3：动态网页生成：Templates</div>
              <hr>
              <p>此系列的文章是我搭建这个网站的简单记录。现在，我们已经建立起了从URL到网页的关联，并能显示一些东西了。现在，我们需要把我们真正需要展示的内容的装载到网页上，这需要用到Django的Templates模块。</p>
            </div>
          </div>
		    </section>
        <section class="col s12 m6 l4">
          <div class="collection z-depth-1">
            <p class="collection-item green lighten-2 white-text">最多访问</p>
            <a href="#!" class="collection-item green-text lighten-2">Alvin</a>
            <a href="#!" class="collection-item green-text lighten-2">Alvin</a>
            <a href="#!" class="collection-item green-text lighten-2">Alvin</a>
          </div>
        </section>
		  </div>
		</div>
  </main>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
  	$(document).ready(function(){
  		$(".button-collapse").sideNav({edge:'left'});
  		$('.collapsible').collapsible();
  	})
  </script>
</body>
</html>
