{% extends 'common/base_navbar.html' %}

{% load staticfiles %}
{% block stylesheet %}
  <link href="{% static 'crows/crows.css' %}" rel="stylesheet">
  <link href="{% static 'crows/color-default.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}留言板{% endblock %}

{% block nav_bar_right %}
  <li class="active"><a href="{% url 'contact:index' %}">关于|留言</a></li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="well crows-card crows-header">
      <h1 class="crows-header-primary">留言板</h1>

      <p class="crows-header-minor">说点什么吧~</p>

      <p class="text-right crows-header-minor">如需私信，请点击
        <a class="crows-card-text" href="#contact-info">这里</a></p>
    </div>
    {% block pub_msg_form %}
      <section class="well crows-card">
        <form class="form-horizontal" id="post-form" action="{% url 'contact:postmsg' %}" method="post">
          {% csrf_token %}
          <a name="post"></a>
          {% if post_msg_form.errors %}
            <div class="alert alert-error">
              <ul>
                {% for error in post_msg_form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="form-group">
            {{ post_msg_form.name.errors }}
            <label class="col-md-1 control-label" style="text-align: right"
                   for="{{ post_msg_form.name.id_for_label }}">
              {{ post_msg_form.name.label }}</label>
            <div class="col-md-5">
              {{ post_msg_form.name }}
            </div>
          </div>
          <div class="form-group">
            {{ post_msg_form.email.errors }}
            <label class="col-md-1 control-label" style="text-align: right"
                   for="{{ post_msg_form.email.id_for_label }}">
              {{ post_msg_form.email.label }}</label>
            <div class="col-md-5">
              {{ post_msg_form.email }}
            </div>
          </div>
          <div class="form-group">
            {{ post_msg_form.content.errors }}
            <label class="col-md-1 control-label" style="text-align: right"
                   for="{{ post_msg_form.content.id_for_label }}">
              {{ post_msg_form.content.label }}</label>
            <div class="col-md-10">
              {{ post_msg_form.content }}
            </div>
          </div>
          <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ post_msg_form.captcha.errors }}
            <label class="control-label" for="{{ post_msg_form.captcha.id_for_label }}"
                   style="padding: 15px">
              {{ post_msg_form.captcha.label }}
            </label>
            {{ post_msg_form.captcha }}
            <button class="btn btn-default btn-raised btn-submit"
                    id="post_comment" type="submit" style="margin: 15px;">提交
            </button>
          </div>
        </form>
      </section>
    {% endblock %}
    {% block pub_msg_display %}
      {% load blog_filter %}
      <section class="well crows-card">
        {% if pub_msg_list %}
          <ul class="media-list">
            {% for msg in pub_msg_list %}
              {% if forloop.last %}
                <a name="lastmsg"></a>
              {% endif %}
              <li class="media">
                <div class="media-left"></div>
                <div class="media-body">
                  <h5 class="media-heading">
                    <a href="#post" class="message"
                       id="{{ msg.id }}">#{{ msg.id }} {{ msg.name }}</a>
                    <small>{{ msg.timestamp | date:"Y-m-d H:i:s" }}</small>
                  </h5>
                  <p>{{ msg.content | markdown2html }}</p>
                </div>
              </li>
              <hr/>
            {% endfor %}
          </ul>
        {% endif %}
      </section>
    {% endblock %}
    <section class="well crows-card">
      <a name="contact-info"></a>

      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'picture/avatar.png' %}"
               class="img-responsive center-block crows-avatar shadow-z-2">

          <h3 class="text-center">结夜野棠</h3>
        </div>
        <div class="col-md-8">
          <div class="text-center">
            <a href="https://plus.google.com/u/0/+%E7%BB%93%E5%A4%9C%E9%87%8E%E6%A3%A00/">
              <img src="{% static 'picture/social/social-google+.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="https://twitter.com/Phoecrow">
              <img src="{% static 'picture/social/social-twitter.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://telegram.me/twhphoenix">
              <img src="{% static 'picture/social/social-telegram.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://weibo.com/julycrows/profile">
              <img src="{% static 'picture/social/social-weibo.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
          </div>
          <div class="text-center">
            <a href="https://instagram.com/twhphoenix/">
              <img src="{% static 'picture/social/social-instagram.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="https://github.com/CrowsT">
              <img src="{% static 'picture/social/social-github.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://steamcommunity.com/profiles/76561198037511308/">
              <img src="{% static 'picture/social/social-steam.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
            <a href="http://tieba.baidu.com/home/main?id=737fbde1d2b9d2b0ccc47d0e">
              <img src="{% static 'picture/social/social-tieba.png' %}"
                   class="img-responsive social-icon shadow-z-1"></a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(".message").click(function () {
      var msgId = $(this).attr('id');
      var msg = document.getElementById(msgId).innerHTML;
      var text = document.getElementById("content");
      text.value = "    回复 " + msg + " 的留言\n";
      var formAction = "{% url 'contact:postmsg' %}" + msgId + '/';
      $('#post-form').attr('action', formAction);
      self.location.href = "#post";
    });
  </script>
{% endblock %}
